body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #000000;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif; */

/* Header */

.header-info {
  color: rgb(185, 185, 185);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 90px;
  height: 5px;
  width: 25%;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  text-transform: uppercase;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  height: 75px;
  width: 95%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}

.nav-links li {
  list-style: none;
}

/* NAVBAR */

/* MAIN */
.main-photo {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 250px;
}
/* MAIN */

/* facilities */

.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
}

.row {
  margin: top 5px;
  display: flex;
}

.facilities-col {
  /* flex-basis: 31%; */
  border-left: 0.1rem solid #5c5c5c;
  border-right: 0.1rem solid #5c5c5c;
  border-width: thin;
}

.facilities-col img {
  width: 100%;
}

.facilities-col p {
  padding: 0;
}

.facilities-col h3 {
  margin-top: 16px;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 30px 10px 5px 10px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: gray;
  margin: 10px 20px 60px 20px;
}

h6 {
  color: grey;
  cursor: pointer;
  border: 1px solid rgb(105, 105, 105);
  margin-left: 70px;
  margin-right: 70px;
  padding: 10px;
  border-radius: 7px;
}

.fab {
  margin-right: 15px;
}

/* FACILITIES */

/* Footer */

h2 {
  color: rgb(211, 211, 211);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

h5 {
  color: grey;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

footer {
  border-top: 6px solid #5282e5;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  margin-left: 220px;
}

.info-1,
.info-2,
.info-3 {
  margin-right: 50px;
}

.footer-bottom {
  background: #282828;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  weight: 20px;
}
.footer-bottom a {
  font-size: 14px;
  margin-left: 20px;
  text-decoration: none;
}

.bottom {
  background: #282828;
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  height: 35px;
}

.bottom-p {
  color: #fff;
  font-size: 12px;
  margin-left: 100px;
}
.icons {
  color: #fff;
  cursor: pointer;
  margin-right: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.first-box {
  margin-left: 20px;
  color: #fff;
}
.last-box {
  margin-right: 20px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
/* resposnive nav */

@media only screen and (max-width: 768px) {
  .nav-links {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: black;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding-top: 60px;
    overflow: hidden;
  }

  .nav-links.active {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.tops {
  background: #282828;
  padding: 10px;
  justify-content: space-between;
}

/*  Responsive  grid */
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* resposnive footer */

@media (max-width: 800px) {
  .nav-links {
    width: 0px;
  }
}

@media (max-width: 800px) {
  footer {
    display: flex;
  }
  .bar {
    height: 2px;
  }
  .nav-links {
    margin-top: 0px;
  }
  li.nav-item {
    display: flex;
    margin: 10px;
  }
  .nav-links {
    width: 0px;
  }
  /* .hamburger {
    margin-left: 220px;
    font-size: 10px;
  } */
  .footer {
    /* display: flex;
    margin-top: 10px;
    margin-bottom: 20px; */
    width: 10%;
  }
}

@media (max-width: 800px) {
  .hamburger {
    margin-left: 220px;
    font-size: 10px;
  }
}

/* Landscape */
/* @media only screen and (min-device-width: 414px) and (max-device-width: 763px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .hamburger {
    margin-left: 335px;
  }
} */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  footer {
    display: flex;
  }
  .bar {
    height: 2px;
  }
  .nav-links {
    margin-top: 0px;
  }
  li.nav-item {
    display: flex;
    margin: 10px;
  }
  .nav-links {
    width: 0px;
  }
  /* .hamburger {
        margin-left: 220px;
        font-size: 10px;
      } */
  .footer {
    /* display: flex;
        margin-top: 10px;
        margin-bottom: 20px; */
    width: 10%;
  }
  .hamburger {
    margin-left: 130px;
    font-size: 10px;
  }
  .info-1 {
    margin-left: 25px;
  }
}
